{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Basic Meta Tags -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Services</title>
      <!-- CSS Links -->
      <link rel="stylesheet" type="text/css" href="{% static 'travelers/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'travelers/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'travelers/css/responsive.css' %}">
      <link rel="icon" href="{% static 'travelers/images/fevicon.png' %}" type="image/gif" />
      <link rel="stylesheet" href="{% static 'travelers/css/jquery.mCustomScrollbar.min.css' %}">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'travelers/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'travelers/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- Header Section Start -->
      <div class="header_section">
         <div class="header_main">
            <div class="mobile_menu">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <div class="logo_mobile"><a href="{% url 'travelers:home' %}"><img src="{% static 'travelers/images/logo.png' %}" alt="Logo"></a></div>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                     <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'travelers:home' %}">Home</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link " href="{% url "travelers:profile" %}">Profile</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'travelers:about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'travelers:services' %}">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'travelers:blog' %}">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'travelers:contact' %}">Contact Us</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><form method='post' action="{% url "travelers:logout" %}">{% csrf_token %}<button
                           class='button-text-only' type="submit">Logout</button></form></li>
                        {% endif %}
                     </ul>
                  </div>
               </nav>
            </div>
            <div class="container-fluid">
               <div class="logo"><a href="{% url 'travelers:home' %}"><img src="{% static 'travelers/images/logo.png' %}" alt="Logo"></a></div>
               <div class="menu_main">
                  <ul>
                     <li class="active"><a href="{% url 'travelers:home' %}">Home</a></li>
                     <li><a href="{% url 'travelers:about' %}">About</a></li>
                     <li><a href="{% url 'travelers:services' %}">Services</a></li>
                     <li><a href="{% url 'travelers:blog' %}">Blog</a></li>
                     <li><a href="{% url 'travelers:contact' %}">Contact us</a></li>
                     {% if user.is_authenticated %}
                     <li><a href="{% url "travelers:profile" %}">Profile</a></li>
                     <li><form method='post' action="{% url "travelers:logout" %}">{% csrf_token %}<button
                        class='button-text-only' type="submit">Logout</button> </form></li>
                     {% endif %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- Header Section End -->

      <!-- Services Section Start -->
      <main class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital">Our Services</h1>
            <p class="services_text">Explore our range of adventure services designed for enthusiasts and beginners alike. We ensure safety, fun, and unforgettable experiences.</p>
            <section class="services_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div><img src="{% static 'travelers/images/img-1.png' %}" alt="Rafting Service" class="services_img"></div>
                     <div class="btn_main"><a href="#">Rafting</a></div>
                  </div>
                  <div class="col-md-4">
                     <div><img src="{% static 'travelers/images/img-2.png' %}" alt="Hiking Service" class="services_img"></div>
                     <div class="btn_main active"><a href="#">Hiking</a></div>
                  </div>
                  <div class="col-md-4">
                     <div><img src="{% static 'travelers/images/img-3.png' %}" alt="Camping Service" class="services_img"></div>
                     <div class="btn_main"><a href="#">Camping</a></div>
                  </div>
                  {% for loc in locations %}
                  <div class="col-md-4">
                      {% if  loc.main_image.tags == 'url' %}
                      <div><img src="{{loc.main_image.url}}" alt="Camping Service" class="services_img"></div>
                      {% else %}
                      <div><img src="" alt="Camping Service" class="services_img"></div>

                      {% endif %}  
                     <div class="btn_main"><a href="#">{{loc.name}}</a></div>
                  </div>
                  {% endfor %}
               </div>
            </section>
         </div>
      </main>
      <!-- Services Section End -->

      <!-- Footer Section Start -->
      <footer class="footer_section layout_padding">
         <div class="container">
            <div class="input_btn_main">
               <label for="email" class="sr-only">Subscribe to our newsletter</label>
               <input type="email" id="email" class="mail_text" placeholder="Enter your email" name="email">
               <div class="subscribe_bt"><a href="#">Subscribe</a></div>
            </div>
            <div class="location_main">
               <div class="call_text"><img src="{% static 'travelers/images/call-icon.png' %}" alt="Phone Icon"></div>
               <div class="call_text"><a href="tel:+011234567890">Call +01 1234567890</a></div>
               <div class="call_text"><img src="{% static 'travelers/images/mail-icon.png' %}" alt="Email Icon"></div>
               <div class="call_text"><a href="mailto:demo@gmail.com">demo@gmail.com</a></div>
            </div>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="{% static 'travelers/images/fb-icon.png' %}" alt="Facebook Icon"></a></li>
                  <li><a href="#"><img src="{% static 'travelers/images/twitter-icon.png' %}" alt="Twitter Icon"></a></li>
                  <li><a href="#"><img src="{% static 'travelers/images/linkedin-icon.png' %}" alt="LinkedIn Icon"></a></li>
                  <li><a href="#"><img src="{% static 'travelers/images/instagram-icon.png' %}" alt="Instagram Icon"></a></li>
               </ul>
            </div>
         </div>
      </footer>
      <!-- Footer Section End -->

      <!-- Copyright Section Start -->
      <section class="copyright_section">
         <div class="container">
            <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free HTML Templates</a></p>
         </div>
      </section>
      <!-- Copyright Section End -->

      <!-- JavaScript Files -->
      <script src="{% static 'travelers/js/jquery.min.js' %}"></script>
      <script src="{% static 'travelers/js/popper.min.js' %}"></script>
      <script src="{% static 'travelers/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'travelers/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'travelers/js/plugin.js' %}"></script>
      <script src="{% static 'travelers/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'travelers/js/custom.js' %}"></script>
      <script src="{% static 'travelers/js/owl.carousel.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
   </body>
</html>
